<div class="row mt-10 hide-on-med-and-down">
  <span class="ml-20">Home | 2 Favoritos</span>
</div>

<div class="row mt-10 hide-on-med-and-down">

  <div class="input-field col s6">
    <input id="iBuscaTitulo" type="text" class="validate" />
    <label for="iBuscaTitulo">Buscar por título do filme:</label>
  </div>
  <div class="input-field col s6">
    <select>
      <option value="" selected>Ação</option>
      <option value="1">Comédia</option>
    </select>
    <label>Buscar por tipo de filme:</label>
  </div>
  <!-- <div class="input-field col s6">
    <input id="iBuscaTipo" type="text" class="validate" />
    <label for="iBuscaTipo">Buscar por tipo de filme:</label>
  </div> -->
</div>

<div class="row mt-10 hide-on-large-only">
<div class="input-field col s12">
  <select>
    <option value="" selected>Ação</option>
    <option value="1">Comédia</option>
  </select>
  <label>Filtros:</label>
</div>
</div>

<div class="row mt-30">
  <div class="col s12 m6 l6 xl6">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col s12 m12 l4 xl4">
            <div class="card-image">
              <img src="../../../assets/images/transferir.jpg" height="230" />
              <p class="center">Descrição da imagem</p>
            </div>
          </div>
          <div class="col s12 m12 l8 xl8">
            <div class="row">
              <div class="col s3">
                <img class="circle mt-10" src="../assets/images/dash75.png" height="50px">
              </div>
              <div class="col s6 ">
                <h5 class="card-title fs-22">Título do filme</h5>
                <p class="fs-12">04 de fevereiro de 2020</p>
              </div>
              <div class="col s3 mt-10">
                <a href="#!"><i class="material-icons fs-48 color-gold">star</i></a>
              </div>
            </div>
            <p>
              I am a very simple card. I am good at containing small bits of
              information. I am convenient because I require little markup to
              use effectively.
            </p>
            <p>
              <a href="#" class="btn btn-informacoes mt-70 modal-trigger" href="#modalMaisInfo" >Mais informações</a>
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col s12 m6 l6 xl6">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col s12 m12 l4 xl4">
            <div class="card-image">
              <img src="../../../assets/images/transferir.jpg" height="230" />
              <p class="center">Descrição da imagem</p>
            </div>
          </div>
          <div class="col s12 m12 l8 xl8">
            <div class="row">
              <div class="col s3">
                <img class="circle mt-10" src="../assets/images/dash75.png" height="50px">
              </div>
              <div class="col s6 ">
                <h5 class="card-title fs-22">Título do filme</h5>
                <p class="fs-12">04 de fevereiro de 2020</p>
              </div>
              <div class="col s3 mt-10">
                <a href="#!"><i class="material-icons fs-48 color-gold">star</i></a>
              </div>
            </div>
            <p>
              I am a very simple card. I am good at containing small bits of
              information. I am convenient because I require little markup to
              use effectively.
            </p>
            <p>
              <a href="#" class="btn btn-informacoes mt-70 modal-trigger" href="#modalMaisInfo" >Mais informações</a>
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- Modal Structure -->
<div id="modalMaisInfo" class="modal modal-fixed-footer">
  <div class="modal-content">
    <div class="col s12 m7">
      <div class="card horizontal">
        <div class="card-image">
          <img src="../../../assets/images/transferir.jpg">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.</p>
            <a class="modal-close waves-effect waves-green btn-flat right">X</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m7">
      <div class="card horizontal">
        <div class="card-image">
          <img src="../../../assets/images/transferir.jpg">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.</p>
            <a class="modal-close waves-effect waves-green btn-flat right">X</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat">X</a>
  </div>
</div>
