<div class="row mt-10 hide-on-med-and-down">
  <span class="ml-20">Detalhe | 2 Favoritos</span>
</div>

<div class="row mt-30">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col s12 m12 l4 xl4">
            <div class="card-image">
              <img src="../../../assets/images/transferir.jpg" height="380" width="300"/>
              <p class="center">Descrição da imagem</p>
            </div>
          </div>
          <div class="col s12 m12 l8 xl8">
            <div class="row">
              <div class="col s12">
                <h5 class="card-title"><strong>Nome do filme(2019)</strong></h5>
                <div class="row">
                  <div class="col center">
                    <img
                      class="circle mt-10"
                      src="../assets/images/dash75.png"
                      height="80px"
                      style="margin-top: -10px;"
                    />
                    <div>
                      <p><strong>Avaliação dos
                        usuários</strong
                      ></p><br>
                    </div>
                  </div>
                  <div class="col" style="display: flex;">
                    <div class="col">
                      <a
                        class="btn-floating btn-large waves-effect waves-light color-gray-2"
                        ><i class="material-icons">dehaze</i></a
                      >
                    </div>
                    <div class="col">
                      <a
                        class="btn-floating btn-large waves-effect waves-light color-gray-2"
                        ><i class="material-icons">favorite</i></a
                      >
                    </div>
                    <div class="col">
                      <a
                        class="btn-floating btn-large waves-effect waves-light color-gray-2"
                        ><i class="material-icons">bookmark</i></a
                      >
                    </div>
                    <div class="col">
                      <a
                        class="btn-floating btn-large waves-effect waves-light color-gray-2"
                        ><i class="material-icons">grade</i></a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h4>Sinopse</h4>
            <p>
              I am a very simple card. I am good at containing small bits of
              information. I am convenient because I require little markup to
              use effectively. Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Aperiam corrupti, autem similique atque rem
              quasi ducimus culpa saepe cum inventore iste quae illo aliquid a
              esse eum sed incidunt officiis.
            </p>

            <h5>Equipe técnica principal</h5>
            <div class="row">
              <div class="col">
                <p><strong>Taika Waititi</strong></p>
                <p>Director, Screen play</p>
              </div>
              <div class="col">
                <p><strong>Cristine Leunens</strong></p>
                <p>Novel</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
