<div class="container">

  <div class="card">
    <form class="center">
          <span class="card-title color-gray"><strong>Login</strong></span>

          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate" />
              <label for="email">Email</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate" />
              <label for="password">Password</label>
            </div>
          </div>

        <div class="card-action" style="margin-bottom: 200px;">
          <button class="btn btn-login" type="submit" name="action">
            Log in
          </button>
        </div>
    </form>
  </div>

