/* You can add global styles to this file, and also import other style files */

/* Nav */
nav {
  background-color: #F2F2F2 !important;
}
nav .brand-logo {
  position: absolute;
  color: #959595 !important;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
}
nav a {
  color: #959595 !important;
}
nav ul a {
  transition: background-color .3s;
  font-size: 1rem;
  color: #959595 !important;
  display: block;
  padding: 0 15px;
  cursor: pointer;
}
.page-footer {
  padding-top: 20px;
  color: #959595 !important;
  background-color: #F2F2F2  !important;
}
.page-footer .footer-copyright {
  overflow: hidden;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  color: #959595 !important;
  background-color: #F2F2F2 !important;
}
/* Fonts */
.fs-12{
  font-size: 12px !important;
}
.fs-22{
  font-size: 22px !important;
}
.fs-36{
  font-size: 36px !important;;
}
.fs-48{
  font-size: 48px !important;;
}
/* Padding */
.pl-0{
  padding-left: 0 !important;
}
.pr-0{
  padding-right: 0 !important;
}
.pl-10{
  padding-left: 10px;
}
.pr-10{
  padding-right: 10px;
}
/* Margim */
.mt-10{
  margin-top: 10px;;
}
.mt-12{
  margin-top: 12px;
}
.mt-30{
  margin-top: 30px !important;
}
.mt-70{
  margin-top: 70px;
}
.mr-20{
  margin-right: 20px;;
}
.ml-20{
  margin-left: 20px;;
}
/* Colors */
.color-gold{
  color: gold;
}
.color-black{
  color: #000;
}
.color-gray{
  color: #959595;
}
.color-gray-2{
  color: #CCCCCC !important;
}

/* Buttons */
.btn-informacoes{
  background-color: #002855 !important;
  color: #fff;
  width: 100%;
}
.btn-login{
  background-color: #58B7F4 !important;
  color: #fff;
  width: 100%;
}
/* Card */
.card-title{
  font-weight: bold;
}
.btn-floating{
  background-color: #CCCCCC !important;
}



